@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";
@import "abstracts/base";
@import "abstracts/common";

.vth-view-container {
    .header {
        height: 9rem;
        background: #fff;
        position: fixed;
        top: 0px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 11;

        .logo-wrapper {
            margin-left: 6rem;

            img {
                height: 8rem;
                width: 21rem;
            }
        }

        .menu-wrapper {
            margin-right: 6rem;

            li {
                text-decoration: none;
                display: inline-block;
                padding: 8px 20px;
                font-family: "Roboto-Bold";
                font-size: 18px;
                color: #8abb6a;
                cursor: pointer;

                a {
                    color: #8abb6a;
                }
            }
        }

        .address {
            font-size: 1.6rem;

            color: #000;

            span {
                font-size: 1.4rem;
                font-family: "Roboto-Regular";
                color: #928f88;
            }

            .value {
                font-size: 1.6rem;
                font-family: "Sansita-Bold";
                color: #000;
            }
        }

        .contact {
            font-size: 1.6rem;
            font-family: "Sansita-Bold";

            span {
                color: #fd7444;
            }

            .value {
                margin-right: .4rem;
                color: #000;
            }
        }
    }

    .vth-view-wrapper {
        // background-image: url(/assets//images/home-header.jpg);
        // background-size: cover;
        // height: 95vh;
        // margin-top: 8rem;
        // position: relative;

        // .main-content {
        //     position: absolute;
        //     top: 16rem;
        //     margin-left: 10rem;
        //     width: 40%;

        //     .main-caption {
        //         font-family: Sansita-Bold;
        //         font-size: 10rem;
        //         color: #fff;
        //         line-height: 8rem;
        //         position: relative;

        //         animation: content;
        //         animation-duration: 3s;
        //         animation-fill-mode: forwards;
        //         display: block;
        //     }

        //     .bk-btn {
        //         position: relative;
        //         background: #8abb6a;
        //         margin-top: 4em;
        //         font-size: 1.6rem;
        //         padding: 2.4rem 6rem;
        //         text-transform: uppercase;
        //         font-weight: bold;
        //         cursor: pointer;
        //         font-family: "Sansita-Bold";
        //         letter-spacing: 1px;

        //         animation: btnright;
        //         animation-duration: 3s;
        //         animation-fill-mode: forwards;
        //         display: block;
        //     }

        //     .bk-btn:hover {
        //         background: rgba(255, 255, 255, 0);
        //         color: #fff;
        //         border: 2px solid #fff;
        //     }
        // }
    }

    .vth-mission-section {
        height: 60rem;

        .img-wrapper {
            background-image: url(/assets//images/mission-img.jpg);
            background-size: cover;
            position: relative;
            height: auto;

            // mission-det
        }

        .mission-wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;
            background: #f7f7f7;

            .logo {
                border-radius: 50%;
                width: 18rem;
                height: 18rem;
                background: #fd7444;
                text-align: center;
                display: inline-block;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 10rem;

                .best {
                    color: #fff;
                    font-size: 1.4rem;
                    font-family: "Roboto-Regular";
                    letter-spacing: .2rem;
                }

                .value {
                    font-family: "Sansita-Bold";
                    font-size: 2rem;
                    color: #FFDA29;
                    line-height: 2.8rem;

                }
            }

            .vission {
                font-size: 1.4rem;
                margin-top: 3rem;
                ;
                margin-left: 8rem;
                margin-right: 8rem;
            }
        }
    }

    .facilities-wrapper {
        height: 75rem;

        .title-section {
            text-align: center;
            font-family: Sansita-Bold;
            margin-top: 4rem;
            margin: 0 auto;

            .title {
                font-size: 8rem;
                color: #fd7444;
            }

            .sub-title {
                font-size: 2rem;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: #928f88;
            }
        }

        .fcl-icon-section {
            width: 80%;
            margin-left: 20rem;

            .column-3 {
                width: 25%;
                display: flex;
                justify-content: center;
                float: left;
                margin-top: 4rem;
                flex-direction: column;
            }

            .icon-wrapper:hover {
                background: #000;

                .fa {
                    color: #fff;
                }
            }

            .icon-wrapper {
                width: 130px;
                height: 130px;
                border-radius: 50%;
                background: #ffdb74;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                .fa {
                    font-size: 50px;
                    color: #000;
                }
            }

            p {
                text-align: left;
                margin-left: 16px;
                margin-top: 29px;
                font-size: 16px;
                font-weight: bold;
                font-family: "Sansita-Bold";
            }
        }
    }

    .about-us-wrapper {
        height: 60rem;
        background: #55c57a;

        .title-section {
            text-align: center;
            font-family: Sansita-Bold;
            margin-top: 1rem;

            .title {
                font-size: 8rem;
                color: #fd7444;
            }
        }

        .content-section {
            margin: 0 auto;
            width: 80%;
            margin-top: 3rem;

            .content-title {
                font-size: 1.6rem;
                font-weight: 600;
                text-transform: uppercase;
            }

            .content-sub-title {
                font-size: 1.4rem;
                margin-top: 1rem;

                span {
                    display: block;
                    font-size: 2.2rem;
                    color: #fd7444;
                    font-family: "Sansita-Bold";

                }
            }
        }

        .img-wrapper {
            background-image: url(/assets//images/about-us.jpg);
            background-size: cover;
            position: relative;
            height: 60rem;

            // mission-det
        }

        .mission-wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;
            background: #f7f7f7;


        }

    }

    .facilities-container {
        background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));

        .facilities-sub-container {
            width: 86%;
            margin: 0 auto;
            padding-bottom: 6rem;
            ;

        }

        .title-section {
            text-align: center;
            font-family: Sansita-Bold;
            margin-top: 8rem;

            .title {
                font-size: 8rem;
                color: #fd7444;
                font-weight: bold;
            }

            .sub-title {
                font-size: 2rem;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: #928f88;
            }
        }

        .story-card:not(last-child) {
            margin-right: 5rem;
        }

        .story-card {
            position: relative;
            height: 38rem;

            .slide {
                transition: all .8s ease;
                position: absolute;
                top: 0;
                bottom: 0;
                width: 100%;
                backface-visibility: hidden;
                border-radius: 3px;
                overflow: hidden;
                box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
            }

            .card-front {
                background-color: rgba(255, 255, 255, 0.8);
                text-align: center;
                color: #777;
                cursor: pointer;

                .fa-icons {
                    font-size: 10rem;
                    background-image: linear-gradient(to right, #7ed56f, #28b485);
                    color: transparent;
                    display: inline-block;
                    -webkit-background-clip: text;
                }

                .title {
                    font-size: 1.8rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin-bottom: 1.5rem;
                    margin-top: 1.5rem;
                }

                .contents {
                    font-size: 1.6rem;
                }
            }

            .card-back {
                transform: rotateY(180deg);
                text-align: center;
                color: #fff;
                background-image: linear-gradient(to right bottom, #2998ff, #5643fa) !important;

                .fa-icons {
                    font-size: 10rem;
                background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
                    color: transparent;
                    display: inline-block;
                    -webkit-background-clip: text;
                }

                .title {
                    font-size: 1.8rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin-bottom: 1.5rem;
                    margin-top: 1.5rem;
                }

                .contents {
                    font-size: 1.6rem;
                }

            }

            .card-back-1 {
                background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
            }

            .card-back-2 {
                background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
            }

            .card-back-3 {
                background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
            }

        }

        .story-card:hover .card-front {
            transform: rotateY(-180deg);
        }

        .story-card:hover .card-back {
            transform: rotateY(0);
        }
    }

    .enquiry-section {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
        padding: 8rem 0;

        .enquiry-sub-section {
            width: 76%;
            margin: 0 auto;
            background: lightblue;
            background-size: 100%;
            border-radius: 3px;
            -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);

            .form {
                padding: 6rem;

                .form-heading {
                    font-size: 3.5rem;
                    text-transform: uppercase;
                    font-weight: 700;
                    display: inline-block;
                    color: #55c57a;
                    letter-spacing: .2rem;

                }

                .form__group {
                    margin-top: 1rem;

                    .form__input {
                        font-size: 1.5rem;
                        font-family: inherit;
                        color: inherit;
                        padding: 1.5rem 2rem;
                        border-radius: 2px;
                        background: rgba(#fff, 0.5) !important;
                        border: none;
                        border-bottom: 3px solid transparent;
                        width: 90%;
                        display: block;
                    }

                    .form__input:focus {
                        outline: none;
                        box-shadow: 0 1rem 2rem rgba($color-black, .1);
                        border-bottom: 3px solid $color-primary;
                    }

                    .form__input:focus:invalid {
                        border-bottom: 3px solid $color-secondary-dark;
                    }

                    .form__area {
                        height: 118px;
                    }

                    .form__label {
                        font-size: 1.2rem;
                        font-weight: 700;
                        margin-left: 0.2rem;
                        margin-top: .7rem;
                        margin-bottom: .4rem;

                    }

                    .btn--green {
                        background-color: #55c57a;
                        color: #fff;
                        text-transform: uppercase;
                        text-decoration: none;
                        padding: 1rem 3rem;
                        display: inline-block;
                        border-radius: 10rem;
                        position: relative;
                        font-size: 1.4rem;
                        border: none;
                        cursor: pointer;
                        margin-top: 4rem;
                        float: right;
                    }

                    .btn--green:focus {
                        outline: none;
                    }
                }
            }
        }
    }

    .rules-container {
        background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(/assets//images/mission-img.jpg);
        background-size: cover;
        background-position: top;
        position: relative;

        .rules-sub-container {
            background: #55c57a;
            padding-bottom: 6rem;
            ;
        }

        .title-section {
            text-align: center;
            font-family: Sansita-Bold;
            margin-top: 8rem;

            .title {
                font-size: 8rem;
                color: #fd7444;
                font-weight: bold;
            }

            .sub-title {
                font-size: 2rem;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: #928f88;
            }
        }

        .story {
            display: flex;
            align-items: center;
            width: 65%;
            margin: 0 auto;
            margin-top: 3rem;
            box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
            background-color: rgba(255, 255, 255, .9);
            border-radius: 3px;
            padding: 3rem 6rem;
            padding-left: 9rem;
            font-size: 1.6rem;
            -webkit-transform: skewX(-12deg);
            transform: skewX(-12deg);


            .img-wrappwer {
                transform: translateX(-3rem) skewX(12deg);

                img {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                }
            }

            .content-wrappwer {
                transform: translateX(-3rem) skewX(12deg);
                margin-left: 4rem;

                .facilities {
                    font-size: 1.6rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #55c57a;
                }

                .facilities-desc {
                    font-size: 1.4rem;
                    margin-top: 2rem;
                }
            }
        }
    }

    .gallery-container {
        position: relative;
        height: auto;

        .gallery-sub-container {
            width: 86%;
            margin: 0 auto;
            padding-bottom: 6rem;

            .title-section {
                text-align: center;
                font-family: Sansita-Bold;
                margin-top: 8rem;

                .title {
                    font-size: 8rem;
                    color: #fd7444;
                }

                .sub-title {
                    font-size: 2rem;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    color: #928f88;
                }
            }

            .img-wrapper {
                .story-card:not(last-child) {
                    margin-right: 5rem;
                }

                .story-card {
                    position: relative;
                    background: red;

                    img {
                        height: 30rem;
                        width: 100%;
                    }
                }
            }
        }
    }


    .footer {
        height: 20rem;
        background: #f7f5f2;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 11;

        .img-wrapper {
            margin-left: 10rem;
        }

        .fa {
            color: #ffdb74;
            font-size: 24px;
            margin-right: 6px;
        }

        .contact-us {
            margin-left: 10rem;

            .address {
                display: inline-block;
                margin-right: 4rem;

                span {
                    font-size: 1.4rem;
                    font-family: "Roboto-Regular";
                    color: #928f88;
                }

                .value {
                    font-size: 2.4rem;
                    font-family: "Sansita-Bold";
                    color: #000;
                    margin-right: .4rem;
                }
            }

            .contact {
                display: inline-block;
                font-size: 2.4rem;
                font-family: "Sansita-Bold";

                span {
                    color: #fd7444;
                }

                .value {
                    color: #000;
                    margin-right: .4rem;
                }
            }
        }

        .follow-us {
            margin-right: 10rem;
            display: flex;

            .social-wrapper {
                border-radius: 50%;
                width: 4rem;
                height: 4rem;
                background: #ffdb74;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                .fa {
                    font-size: 20px;
                    color: #000;
                    margin-right: 0;
                }
            }

            .social-wrapper:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }
}

@media (min-width: 768px) {
    .btn-cnctr-wrapper {
        display: none;
    }
}

@media (max-width: 768px) {

    .vth-view-container {
        .ml-small-0 {
            margin-left: 0px !important;
        }

        .header {
            height: 8rem;

            .mobile-menu-wrapper {
                .fa-bars {
                    font-size: 40px;
                    cursor: pointer;
                }
            }

            .logo-wrapper {
                margin-left: 0rem;

                img {
                    height: 6rem;
                    width: 16rem;
                }
            }

            .menu-wrapper {
                margin-right: 0rem;
                margin-top: 1rem;

                li {
                    padding: .6rem .4rem;
                    font-size: 1.4rem;
                }

                #contact {
                    display: none;
                }
            }

        }

        .vth-view-wrapper {
            margin-top: 64px;

        }

        .vth-mission-section {
            height: 800px;

            .img-wrapper {
                display: none;
            }

            .mission-wrapper {
                .logo {
                    width: 23rem;
                    height: 22rem;
                    margin-top: 6rem;

                    .best {
                        font-size: 2rem;

                    }

                    .value {
                        font-size: 2.6rem;

                    }
                }

                .vission {
                    font-size: 1.8rem;
                    margin-left: 2rem;
                    margin-right: 2rem;
                    margin-top: 6rem !important;
                }
            }
        }

        .facilities-wrapper {
            margin-bottom: 3rem;
            height: 124rem;

            .fcl-icon-section {
                width: 100%;
                margin-left: 4rem;

                .column-6 {
                    width: 50%;
                }
            }
        }

        .about-us-wrapper {
            height: 76rem;

            .img-wrapper {
                display: none;
            }

            .content-section {
                width: 90%;

                .content-sub-title {
                    font-size: 1.8rem;
                }
            }
        }

        .enquiry-section {
            .enquiry-sub-section {
                width: 90%;

                .form {
                    padding: 6rem 3rem;

                    .enquiry-text-area {
                        padding-left: 0 !important;
                    }

                    .form-heading {
                        font-size: 3rem;
                    }

                    .form__group {
                        .form__label {
                            font-size: 1.8rem;
                        }

                    }
                }
            }
        }

        .rules-container {
            .story {
                padding: 3rem 0rem;
                padding-left: 0rem;
                flex-direction: column;
                width: 78%;

                .content-wrappwer {
                    margin-left: 5rem;
                    margin-top: 2rem;

                    .facilities-desc {
                        font-size: 1.6rem;
                    }

                }

                .img-wrappwer {
                    img {
                        height: 100px;
                        width: 100px;
                    }
                }
            }
        }

        .facilities-container {
            .story-card:not(last-child) {
                margin-right: 0;
            }
        }

        .gallery-container {
            .gallery-sub-container {
                .title-section {
                    margin-top: 10rem;

                    .title {
                        font-size: 6rem;
                    }
                }

                .img-wrapper {
                    .story-card:not(last-child) {
                        margin-right: 0;
                    }
                }
            }
        }

        .footer {
            height: 34rem;
            margin-bottom: 20px;

            .contact-us {
                margin-left: 2rem;
                margin-top: 1rem;
                margin-bottom: 1rem;

                .address {
                    padding-bottom: 2rem;

                    span {
                        display: inline-block;
                        font-size: 2rem;
                        margin-top: 1rem;
                    }
                }

                .contact {}
            }

            .follow-us {
                margin-right: 2rem;

                .social-wrapper {
                    height: 5rem;
                    width: 5rem;
                }

                .social-wrapper .fa {
                    font-size: 2.4rem;
                }
            }
        }
    }

    .btn-cnctr-wrapper {
        background: red;
        position: fixed;
        bottom: 0;
        padding: 8px;
        width: 100%;

        button {
            background-color: #55c57a;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            padding: 1rem 3rem;
            border-radius: 4px;
            font-size: 1.4rem;
            border: none;
            cursor: pointer;
            width: 34%;
            float: left;
        }
    }
}


// Animations

// home page slide animation

@keyframes content {
    0% {
        top: -250px;
    }

    100% {
        top: 0;
    }
}

@keyframes btnright {
    0% {
        right: -1000px;
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    100% {
        right: 0px;
    }
}


// Facilities animation